---
// Core
import { z } from 'astro:content'

// Schema
const ComponentFileSchema = z.object({
  frontmatter: z.object({
    title: z.string().min(1)
  }),
  url: z.string().optional()
})

// Extract components
interface Component {
  name: string
  title: string
}

const uiComponents: Component[] = []
const moleculesComponents: Component[] = []

Object.entries(
  import.meta.glob('../../../content/docs/components/**/*.mdx', {
    eager: true
  })
).forEach(([filePath, content]) => {
  const { success, data } = ComponentFileSchema.safeParse(content)
  if (!success) return

  const name = filePath.split('/').pop()?.split('.').shift()
  if (!name) return

  const component: Component = {
    name,
    title: data.frontmatter.title
  }

  if (filePath.includes('ui')) {
    return uiComponents.push(component)
  }

  moleculesComponents.push(component)
})
---

<!-- Template -->
<div class='space-y-6'>
  <div class='space-y-2'>
    <h3>UI</h3>
    <div class='grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6 xl:grid-cols-3 xl:gap-10'>
      {
        uiComponents.map((component) => (
          <a href={`/components/ui/${component.name}`} class='no-underline hover:underline'>
            {component.title}
          </a>
        ))
      }
    </div>
  </div>

  <div class='space-y-2'>
    <h3>Molecules</h3>
    <div class='grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6 xl:grid-cols-3 xl:gap-10'>
      {
        moleculesComponents.map((component) => (
          <a href={`/components/molecules/${component.name}`} class='no-underline hover:underline'>
            {component.title}
          </a>
        ))
      }
    </div>
  </div>
</div>
